// Colors for a text
@basic-text-color: #888;
@basic-header-color: #434343;
@bright-text-color: #D4D4D4;
@brightest-text-color: #FFF;
@menu-link-color: #3A3C43;

// Color of accent
@accent-color: #45B6AF;

// Frames
@basic-border-color: #DDD;

// Portfolio boxes
@box-portfolio-background: fade(@accent-color, 85%);

// Background colors
@basic-background: #FFF;
@alternate-background: #EEE;
@footer-background: #43444D;
@footer-copyright-background: #31323A;

// Footer
@footer-social-borders: #535353;
@footer-social-icons: #EBEBEB;
@footer-post-date: #B4B4B4;

// Slider
@slider-control-background: #C2C2C2;

// Opinions
@opinions-text: #A6A6A6;
