// Alignment, positioning
.center-text {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.center-no-float {
  .float-none;
  .center-text;
}

.no-center-float {
  .float-left;
  text-align: initial;
}

// Visibility
.invisible {
  display: none;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}
