// Column grid
@columns: 12;
@column-width: 65;
@gutter-width: 30;
@total-width: 100%;

.our-services .single-col {
  .column(12);
  @media @tablet {
    .column(3);
  }
}

.advantages .single-col {
  .column(12);
  @media @tablet {
    .column(4);
  }
}

.statistics .single-col {
  .column(12);
  @media @phone {
    .column(6);
  }
  @media @tablet {
    .column(3);
  }
}

.our-team .single-col {
  .column(12);
  @media @tablet {
    .column(4);
  }
}

.footer-main .single-col {
  .column(12);
  @media @phone {
    .column(6);
  }
  @media @tablet {
    .column(3)
  }
}

// Container
.container {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
  padding: 0 15px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Section titles
.section-title {
  margin-bottom: 40px;
  .center-text;
}

// Headers
h1, h2, h3 {
  line-height: 1.1;
}

// Mixin for buttons
.basic-button(@color;@background-color) {
  color: @color;
  background-color: @background-color;
  text-decoration: none;
  .inline-block;
  font-size: @basic-font-size;
  font-weight: 400;
  line-height: @basic-line-height;
  text-transform: uppercase;
}
